.App {
  text-align: center;
}

.logo {
  width: 8rem;
  height: 8rem;
}

@import url('https://fonts.googleapis.com/css?family=Barrio');


 h2, h3, p {
  color: black;
  font-family: sans-serif;
  
}

h1 {
  font-size: calc(5rem);
  font-family: 'Barrio';
  margin-top: 1rem;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

h2 {
  font-size: calc(2rem);
  font-family: sans-serif;
  margin-top: 1rem;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 999;
  background-color: #a0f5a9;
}


.logo-container {
  padding: 1rem;
  top: 0;
  left: 0;

}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 10px;
}


li {
  display: flex;
  align-items: center;
}

a.navbar-link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 1rem;
  margin: 0 5px;
  font-family: sans-serif;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.search-button {
  padding: 5px 10px;
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #69a06e;
}

a.navbar-link:hover {
  color: #ff0000;
}

.Human-body {
  height: 100vh;
}

.List-of-injuries {
  padding-bottom: 10vh;
  padding-top: 1vh;
  display: flex;
}

.Injury {
  display: inline-block;
  padding: 2vh;

}

.Injury-icon {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  border: 0.15rem solid #000;
}

.Home {
  background-color: #a0f5a9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.qualification {
  padding-bottom: 20vh;
}

/* .Injury {
  border: 0.1rem solid black;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: stretch;
  }

  a.navbar-link {
    padding: 0.5rem;
    margin: 5px 0;
    font-size: 0.1rem;
  }
}
